@media (max-width:767px) {
.container{
    margin: 32px 16px;
}

.search-form{
    padding-top: 32px;
}

.search-input{

    &__img{
    padding-left: 12px;
    padding-right: 8px;
    }

    &__input{
    font-size: 13px;
    line-height: 19px;
    }
}

.profile{
    padding-top: 32px;
    gap: 20px;
    height: 612px;


    &__img{
        padding-left: 24px;
        padding-top: 32px;
    }
}

.profile-header{
    justify-content: flex-start;
    align-items: flex-start;
}

.user-details{
   flex-direction: column;
   
}

}