@media (max-width:767px) {
.container{
    margin: 32px 16px;
}

.search-form{
    padding-top: 32px;
}

.search-input{

    &__img{
    padding-left: 12px;
    padding-right: 8px;
    }

    &__input{
    font-size: 13px;
    line-height: 19px;
    }
}



}