.profile{
    display: flex;
    justify-content: flex-start;
    gap: 32px; 
    border-radius: 15px;
    box-shadow: $BoxShadowLightTheme;
    background: var(--colors-neutral-0, rgba(255, 255, 255, 1));
    height: 395px;
  

    &__img{
     align-self: flex-start;
     padding-left: 48px;
     padding-top: 48px;
    }

}

.profile-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 480px;
    padding-top: 48px;

&__text{
    color:  $LightColorText;
    font-family: $MainFont; 
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.75;

}

}

.profile-header{
   display: flex;
   justify-content: space-between;

&__reg{
     color: $LightColorText; 
     font-size: 15px;
     font-family: $MainFont; 
     font-weight: 400;
     line-height: 22px;
     letter-spacing: 0px;
     text-align: right;
    }

}

.user-details{ 

    &__nick{
    color: $color-black;;
    font-family: $MainFont; 
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    }

    &__link{
    color: $LightLinkText;
    font-family: $MainFont; 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    }

}

.profile-stats {
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 10px;
    background:  rgba(246, 248, 255, 1);;

   &__column{
    display: flex;
    flex-direction: column;
    flex-basis: 138.67px;

    &-title{
        color:  $LightColorText;
        font-family: $MainFont; 
        font-size: 13px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 4px;
    }

    &-text{
        color: $color-black;;
        font-family: $MainFont; 
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: left;
    }

   } 
}

.links-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-basis: 232px;

    &__text{
      color: $LightColorText;
      font-family: $MainFont; 
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      padding-left: 16px;

      &_link{
        color: $LightColorText;
      font-family: $MainFont; 
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      padding-left: 16px;
        
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
              
      }
    }
}