$color-black:  rgba(43, 52, 66, 1); 
$LightColorText: rgba(75, 106, 155, 1);
$LightLinkText: rgba(0, 121, 255, 1);
$BoxShadowLightTheme: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
$MainFont: Space Mono; 