* {
  margin: 0;
  padding: 0;
}

body{
    background-color: rgba(20, 29, 47, 1)
}

.container {
  margin: 130px 355px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__img {
  width: 128px;
  height: 26px;
}
.header__theme {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.header__theme_text {
  color:  rgba(144, 164, 212, 1);
  font-family: Space Mono;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: right;
  text-decoration: none;
}
.header__theme_icon {
  width: 20px;
  height: 20px;
}

.search-form {
  padding-top: 40px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 69px;
  margin-bottom: 40px;
  border-radius: var(--corner-radius-16, 16px);
  background-color: rgba(30, 42, 71, 1);
}

.search-input__input {
  width: 80%;
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  background-color: rgba(30, 42, 71, 1);
  border-color: transparent;
}
.search-input__img {
  padding-left: 24px;
  padding-right: 24px;
}
.search-input__button {
  width: 107px;
  border-color: transparent;
  height: 48px;
  border-radius: var(--corner-radius-10, 10px);
  background: rgb(0, 121, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.profile {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  border-radius: 15px;
  background: rgba(30, 42, 71, 1);
  height: 395px;
}
.profile__img {
  align-self: flex-start;
  padding-left: 48px;
  padding-top: 48px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-basis: 480px;
  padding-top: 48px;
}
.profile-section__text {
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.75;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}
.profile-header__reg {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

.user-details__nick {
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.user-details__link {
  color: rgba(96, 171, 255, 1);
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.profile-stats {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 10px;
  background: rgba(20, 29, 47, 1);
}
.profile-stats__column {
  display: flex;
  flex-direction: column;
  flex-basis: 138.67px;
}
.profile-stats__column-title {
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 4px;
}
.profile-stats__column-text {
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

.links-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-basis: 232px;
}
.icons__text {
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 40px 32px;
  }
}
@media (max-width: 767px) {
  .container {
    margin: 32px 16px;
  }
  .search-form {
    padding-top: 32px;
  }
  .search-input__img {
    padding-left: 12px;
    padding-right: 8px;
  }
  .search-input__input {
    font-size: 13px;
    line-height: 19px;
  }
  .profile {
    padding-top: 32px;
    gap: 20px;
    height: 612px;
  }
  .profile__img {
    padding-left: 24px;
    padding-top: 32px;
  }
  .profile-header {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .user-details {
    flex-direction: column;
  } 
}