.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__img {
  width: 128px;
  height: 26px;
}
.header__theme {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.header__theme_text {
  color: var(--colors-neutral-500, rgb(75, 106, 155));
  font-family: Space Mono;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: right;
}
.header__theme_icon {
  width: 20px;
  height: 20px;
}

.search-form {
  padding-top: 40px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 69px;
  border-radius: var(--corner-radius-16, 16px);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.search-input__input {
  width: 80%;
  color: var(--colors-neutral-500, rgb(75, 106, 155));
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  border-color: transparent;
}
.search-input__img {
  padding-left: 24px;
  padding-right: 24px;
}
.search-input__button {
  width: 107px;
  border-color: transparent;
  height: 48px;
  border-radius: var(--corner-radius-10, 10px);
  background: var(--colors-blue-500, rgb(0, 121, 255));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: var(--colors-neutral-0, rgb(255, 255, 255));
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.profile {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  padding-top: 40px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  background: var(--colors-neutral-0, rgb(255, 255, 255));
  height: 395px;
}
.profile__img {
  align-self: flex-start;
  padding-left: 48px;
  padding-top: 48px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-basis: 480px;
  padding-top: 48px;
}
.profile-section__text {
  color: var(--colors-neutral-500, rgb(75, 106, 155));
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.75;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}
.profile-header__reg {
  color: var(--colors-neutral-500, rgb(75, 106, 155));
  font-size: 15px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

.user-details__nick {
  color: var(--colors-neutral-700, rgb(43, 52, 66));
  font-family: Space Mono;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.user-details__link {
  color: var(--colors-blue-500, rgb(0, 121, 255));
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.profile-stats {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 10px;
  background: var(--colors-neutral-100, rgb(246, 248, 255));
}
.profile-stats__column {
  display: flex;
  flex-direction: column;
  flex-basis: 138.67px;
}
.profile-stats__column-title {
  color: var(--colors-neutral-500, rgb(75, 106, 155));
  font-family: Space Mono;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 4px;
}
.profile-stats__column-text {
  color: var(--colors-neutral-700, rgb(43, 52, 66));
  font-family: Space Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 130px 355px;
}/*# sourceMappingURL=style.css.map */